@font-face {
  font-family: "Zeit";
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/DeutscheZierschrift.ttf'); /* Modern Browsers */
}@font-face {
  font-family: "Amstelvar 1.1 VF";
  src: url('../assets/fonts/AmstelvarAlpha-VF_v1.1.ttf') format('truetype');
  font-display: swap;
}