@import "fonts";


:root {
  --dark-gray: #3c3d31;
  --imperial-red:#ED2939;
  --off-white:  #fbfbf6;
  --action-color: var(--imperial-red);
  --id-font: "Zeit", "New Times Roman", serif;
  --main-font:"Amstelvar 1.1 VF", Georgia, "New Times Roman", serif;

  /* Breakpoint variables */
  --bp-small: 24.15;
  --bp-medium: 43.75;
  --bp-large: 60.25;
  --bp-xlarge: 75;
  /* text GRAD */
  --text-GRAD: 88;
  /* Paragraph variables */
  --p-line-height-min: 1.3;
  --p-line-height-max: 1.5;
  --p-font-size-min: 1.1;
  --p-font-size-max: 1.25;
  --p-vf-wght: 350;
  --p-vf-wdth: 100;
  /* H1 variables */
  --h1-line-height-min: 0.95;
  --h1-line-height-max: 1.05;
  --h1-font-size-min: 2;
  --h1-font-size-max: 3;
  --h1-vf-wght-multiplier-s: 2;
  --h1-vf-wght-multiplier-m: 2.25;
  --h1-vf-wght-multiplier-l: 2.5;
  --h1-vf-wdth: 100;
  --h1-YTLC:500;
  --h1-YTAS:680;
  --h1-YTDE:190;
  --h1-YTUC:720;
  /* H2 variables */
  --h2-line-height-min: 1.15;
  --h2-line-height-max: 1.25;
  --h2-font-size-min: 1.5;
  --h2-font-size-max: 1.5;
  --h2-vf-wght-multiplier-s: 1.25;
  --h2-vf-wght-multiplier-m: 1.5;
  --h2-vf-wght-multiplier-l: 1.75;
  --h2-vf-wdth: 100;
  /* Dropcap variables */
  --dc-line-height-min: .9;
  --dc-line-height-max: .95;
  --dc-font-size-min: 2.7;
  --dc-font-size-max: 5;
  /* Blockquote variables */
  --bq-line-height-min: 1.1;
  --bq-line-height-max: .95;
  --bq-font-size-min: 2.7;
  --bq-font-size-max: 5;

}

$bp-medium: 43.75;


html{
  font-size: 100%;
  font-family: var(--main-font);
  background-color: var(--off-white);

}
button{
  background: none;
  border: none;

}

a{
  color:var(--dark-gray);
  text-decoration:none;
}
a:focus,input:focus{
  outline: none;
}

ul{
  list-style:none;
  padding-left:0;
  margin: 0;
}

*{
  box-sizing: border-box;
}

.wrapper {
  margin: 0 auto;
  padding: 0 0.5em; }

@media only screen and (min-width: 24.15em) {
  .wrapper {
    max-width: 98%; } }

@media only screen and (min-width: 43.75em) {
  .wrapper {
    max-width: 98%; } }

@media only screen and (min-width: 60.25em) {
  .wrapper {
    max-width: 98%; } }

@media only screen and (min-width: 75em) {
  .wrapper {
    max-width: 90em; } }

h1, h2,h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-variation-settings: "wght" 600, "wdth" 100, "opsz" 24, "GRAD" var(--text-GRAD);
  transition: all linear 0.2s; }

h2 {
  font-size: calc( var(--h2-font-size-min) * 1em);
  font-variation-settings: "wght" calc( var(--p-vf-wght) * var(--h2-vf-wght-multiplier-s)), "wdth" calc( var(--h2-vf-wdth) * .80), "opsz" calc( var(--h2-font-size-min) * 16), "GRAD" var(--text-GRAD);
  line-height: var(--h2-line-height-min);
  max-width: 50rem;
&:hover{
  --text-GRAD: 215;

}
}
.inverse h2 {
  --text-GRAD: 100; }
@media screen and (min-width: 24.15em) {
  h2 {
    line-height: calc(( var(--h2-line-height-min) * 1em ) + ( var(--h2-line-height-max) - var(--h2-line-height-min) ) * ((100vw - ( var(--bp-small) * 1em )) / ( var(--bp-xlarge) - var(--bp-small) )));
    font-size: calc(( var(--h2-font-size-min) * 1em ) + ( var(--h2-font-size-max) - var(--h2-font-size-min) ) * ((100vw - ( var(--bp-small) * 1em )) / ( var(--bp-xlarge) - var(--bp-small) ))); } }
@media screen and (min-width: 43.75em) {
  h2 {

    font-variation-settings: "wght" calc( var(--p-vf-wght) * var(--h2-vf-wght-multiplier-m)), "wdth" calc( var(--h2-vf-wdth) * .90), "opsz" calc( ( (( var(--h2-font-size-max) - var(--h2-font-size-min) ) / 2 ) + var(--h2-font-size-min) ) * 16), "GRAD" var(--text-GRAD);
    max-width: 60rem; } }
@media screen and (min-width: 60.25em) {
  h2 {
    max-width: 70rem; } }
@media (min-width: 75em) {
  h2 {
    font-size: calc( var(--h2-font-size-max) * 1em);
    font-variation-settings: "wght" calc( var(--p-vf-wght) * var(--h2-vf-wght-multiplier-l)), "wdth" calc( var(--h2-vf-wdth) * 1), "opsz" calc( var(--h2-font-size-max) * 16), "GRAD" var(--text-GRAD);
    line-height: var(--h2-line-height-max);
    max-width: 75rem; } }


h1, .title {
  font-size: calc( var(--h1-font-size-min) * 1em);
  font-variation-settings: "wght" calc( var(--p-vf-wght) * var(--h1-vf-wght-multiplier-s)), "wdth" calc( var(--h1-vf-wdth) * .75), "YTLC" var(--h1-YTLC), "YTAS" var(--h1-YTAS), "YTDE" var(--h1-YTDE), "YTUC" var(--h1-YTUC), "opsz" calc( var(--h1-font-size-min) * 16), "GRAD" var(--text-GRAD);
  line-height: var(--h1-line-height-min);
  max-width: 50rem;
  &:hover{
    --text-GRAD: 150;
    --h1-YTLC: 600;
  }
}

@media screen and (min-width: 24.15em) {
  h1,.title {
    line-height: calc(( var(--h1-line-height-min) * 1em ) + ( var(--h1-line-height-max) - var(--h1-line-height-min) ) * ((100vw - ( var(--bp-small) * 1em )) / ( var(--bp-xlarge) - var(--bp-small) )));
    font-size: calc(( var(--h1-font-size-min) * 1em ) + ( var(--h1-font-size-max) - var(--h1-font-size-min) ) * ((100vw - ( var(--bp-small) * 1em )) / ( var(--bp-large) - var(--bp-small) ))); } }
@media screen and (min-width: 43.75em) {
  h1,.title {
    --h1-YTAS:715;
    --h1-YTUC:735;
    font-variation-settings: "wght" calc( var(--p-vf-wght) * var(--h1-vf-wght-multiplier-m)), "wdth" calc( var(--h1-vf-wdth) * .82),"YTLC" var(--h1-YTLC), "YTAS" var(--h1-YTAS), "YTDE" var(--h1-YTDE), "YTUC" var(--h1-YTUC), "opsz" calc( ( (( var(--h1-font-size-max) - var(--h1-font-size-min) ) / 2 ) + var(--h1-font-size-min) ) * 16), "GRAD" var(--text-GRAD);
    max-width: 60rem; } }
@media screen and (min-width: 60.25em) {
  h1,.title {
    --h1-YTAS:730;
    --h1-YTDE:220;
    --h1-YTUC:750;

    font-variation-settings: "wght" calc( var(--p-vf-wght) * var(--h1-vf-wght-multiplier-l)), "wdth" calc( var(--h1-vf-wdth) * .94), "YTLC" var(--h1-YTLC), "YTAS" var(--h1-YTAS), "YTDE" var(--h1-YTDE), "YTUC" var(--h1-YTUC), "opsz" calc( ( (( var(--h1-font-size-max) - var(--h1-font-size-min) ) / 2 ) + var(--h1-font-size-min) ) * 16), "GRAD" var(--text-GRAD);
    line-height: var(--h1-line-height-max);
    max-width: 70rem; } }
@media (min-width: 75em) {
  h1,.title {
    transition: all linear .5s;

    --h1-YTAS:750;
    --h1-YTDE:250;
    --h1-YTUC:750;
    &:hover{
      --h1-YTDE:550;

    }
    font-size: calc( var(--h1-font-size-max) * 1em);
    font-variation-settings: "wght" calc( var(--p-vf-wght) * var(--h1-vf-wght-multiplier-l)), "wdth" calc( var(--h1-vf-wdth) * 1), "YTLC" var(--h1-YTLC), "YTAS" var(--h1-YTAS), "YTDE" var(--h1-YTDE), "YTUC" var(--h1-YTUC), "opsz" calc( var(--h1-font-size-max) * 16), "GRAD" var(--text-GRAD);
    line-height: var(--h1-line-height-max);
    max-width: 75rem; } }